@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

:root{
    --fondo-header: #008276;
    --color-letras: #333;
    --color-enlaces: #253324;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/
.app-header {
    background-color: var(--fondo-header);
    color: white;
    text-align: center;
    padding: 15px;
    border-bottom: 4px solid #2E7D32;
}

.app-header img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.nav-menu {
    padding-top: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    background-color: #004740;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.nav-menu li a:hover {
    background-color: #00322D;
}

/*Main index*/
.app-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    background-color: #B3B3B3;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    text-decoration: underline;
}

/*Buscador*/
.search-controls {
    display: flex;
    gap: 10px;
}

.form-select, .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.search-input {
    flex-grow: 1;
}

.search-state {
    font-weight: bold;
}
.hidden {
    display: none;
}
/*Catalogo*/
.catalog-article {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 8px 12px;
    background-color: #7D7D7D;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5E5E5E;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #d32f2f;
}
/*Tabla catalogo*/
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #FBBE49;
}

.table-body{
    background-color: white;
}
/*Footer*/
footer{
    background-color: var(--fondo-header);
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #2E7D32;
}

/*Detalle js*/
.detalle-divider {
    width: 100%;
}
.lista-detalles-js{
    padding-left: 1rem;
    list-style-position: inside
}
.detalle-error {
    color: red;
}

/*Pagina favoritos*/
.fav-actions{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Cards de busqueda*/
.results-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}

.entity-title {
    font-size: 18px;
    color: #050C15;
}

.entity-desc {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.entity-card {
    border: 1px dashed #666;
    background-color: #23D38A;
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
}

.entity-card p {

    text-transform: capitalize;
}

.entity-card a{
    color: #050C15;
    text-decoration: none;
}

.btn-fav {
    background-color: #253324;
    color: #CCE2FF;
}

.btn-fav:hover {
    background-color: #171F17;
}

.btn-fav.active {
    background-color: #567156;
    color: FFFFFF;
}

.btn-fav.active:hover {
    background-color: #455C45;
}
.ui-link {
    color: inherit;
}
